@import url('https://fonts.googleapis.com/css2?family=Cabin&family=PT+Sans:wght@400;700&family=Poppins:wght@200;400;700&family=Urbanist:wght@200;400&display=swap');

$fontPoppins: 'Poppins', sans-serif;

$colorVerde: #00BF63;
$colorAmarillo: #F4FF2B;