main{
    .icon-wh{
        .boton-wh{
            height: 5rem;
            position: fixed;
            bottom: 5rem;
            right: 3rem;
            transition: height 0.3s, box-shadwo 0.3s;
            &:hover{
                height: 5.5rem;
                border-radius: 3rem 3rem 3rem 0rem;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }
            @include seis{
                height: 3rem;
                bottom: 3rem;
                right: 1rem;
            }
        }
    }
}