.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    background-color: #A6A6A6;
    justify-content: center;
    align-items: center;
    flex-grow: 2;

    .copy-pie{
        list-style-type: none;
        width: 40%;
        p{
            margin: 0;
        }
    }
    .iconos-end{
        list-style-type: none;
        display: flex;
        gap: 0.5rem;
        margin: 0.3rem 0;
        width: 50%;

        .icon-pie{
            height: 1.5rem;
        }
    }
}