.navbar{
    background-image: linear-gradient(to right, #8C52FF, $colorVerde);

    .logo{
        height: 4rem;
        -webkit-animation: swirl-in-fwd 0.6s ease-out both;
	    animation: swirl-in-fwd 0.6s ease-out both;

        @-webkit-keyframes swirl-in-fwd {
            0% {
            -webkit-transform: rotate(-540deg) scale(0);
                    transform: rotate(-540deg) scale(0);
            opacity: 0;
            }
            100% {
            -webkit-transform: rotate(0) scale(1);
                    transform: rotate(0) scale(1);
            opacity: 1;
            }
        }
        @keyframes swirl-in-fwd {
            0% {
            -webkit-transform: rotate(-540deg) scale(0);
                    transform: rotate(-540deg) scale(0);
            opacity: 0;
            }
            100% {
            -webkit-transform: rotate(0) scale(1);
                    transform: rotate(0) scale(1);
            opacity: 1;
            }
        }
    }
    
    .collapse{
        
        .conte-icon-top{
            .btn{
                background-color: #292929;
                color: rgb(228, 228, 228);
            }
            .icon-top{
                height: 2rem;
                margin: 0 1rem;
                transition: all 0.5s;
                animation: carrito 0.8s;
                animation-iteration-count: 10;
                animation-direction: alternate;
                animation-delay: 2s;
                @keyframes carrito{
                    100% {
                        scale: (1.2);
                    }                    
                }
                &:hover{
                    transform: scale(1.2);
                }


                @include noveNovenUno{
                    margin: 0.5rem 0;
                }
            }
            @include noveNovenUno{
                flex-direction: column;
            }
            .form-control{
                @include noveNovenUno{
                    width: 40%;
                }
                @include seis{
                    width: 60%;
                }
                @include cuatro{
                    width: 900%;
                }
            }
        }
        .navbar-nav{
            .nav-link{
                text-decoration: none;
                color: white;
                transition: color 0.3s, font-size 0.3s, font-weight 0.3s;
                font-size: 1rem;
                &:hover{
                    color: #000000;
                    font-size: 1.1rem;
                    font-weight: bold;
                }
            }
            .active{
                color: black;
                font-weight: bold;
                text-decoration: underline;
                text-underline-offset: 0.3rem;
                text-decoration-thickness: 3px; 
                font-size: 1.1rem;
            }
        }
    }
}