.main-inicio{
    .conte-inicio{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include mil{
            flex-direction: column;
        }
        
        .carousel{
            width: 38%;

            @include mil{
                width: 60%;
            }
        }
        .conte-texto{
            width: 25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .item-texto-uno{
                color: white;
                font-family: 'Cabin', sans-serif;
                text-align: center;
                font-size: 2rem;
                .texto-uno-color{
                    color: $colorVerde;
                }
            }
            .linea-horizontal{
                border-top: 2px solid $colorVerde;
                width: 70%;
                text-align: center;
                margin: 1rem 0;
            }
            .item-texto-dos{
                color: white;
                font-family: 'Cabin', sans-serif;
                text-align: center;
                font-size: 1.5rem;
            }
            @include cuatro{
                width: auto;
                margin: 1rem;
            }
        }
    }
}